@import 'ng-devui/styles-var/devui-var.scss';

.layout-wrapper {
    box-shadow: $devui-shadow-length-base $devui-light-shadow;
    margin-top: 36px;

    &:first-child {
        margin-top: 0;
    }
}