<!-- Header -->
<div class="chat-header">
  <div class="header-fixed">
    <div class="title">
      <d-icon icon="icon-list-view" [color]="'white'" title="读取对话"
        (click)="showList('CHAT_SESSION')" style="margin-right: 8px;"></d-icon>

      <div class="title-text" #titleDiv (click)="changeTitle(titleInput,titleDiv)">
        {{chatTitle}}</div>
      <input dTextInput class="hide" #titleInput
        (blur)="changeTitleSubmit(titleInput,titleDiv)" [value]="chatTitle">

    </div>
    <d-icon-group>
      <span style="margin-right: 18px;">
        <span style="font-size: 14px;margin-right: 5px;">stream</span>
        <d-toggle [(ngModel)]="stream"></d-toggle>
      </span>
      <a href="https://github.com/ocherry341/custom-chatGPT" target="_blank">
        <d-icon [icon]="githubIcon" title="github"></d-icon>
      </a>
      <d-icon icon="icon-go-module" [color]="'white'" title="切换配置"
        (click)="showList('CHAT_OPTIONS')"></d-icon>
      <d-icon icon="icon-setting" [color]="'white'" title="设置"
        [routerLink]="'./setting'"></d-icon>
    </d-icon-group>
  </div>
</div>

<div class="chat-content">
  <!-- List -->
  <div class="chat-list" (mouseleave)="mouseout()">
    <ng-container *ngFor="let msg of messages;index as i">
      <!-- User Block -->
      <div class="chat-item" *ngIf="msg.role==='user'">
        <div>{{msg.content}}</div>
      </div>
      <!-- Bot Block -->
      <div class="chat-item bot" (mouseover)="chatListHover(i)"
        *ngIf="msg.role==='assistant'">
        <markdown clipboard [data]="msg.content"></markdown>
        <div *ngIf="i===hoverIndex && i!==savedIndex " class="save">
          <d-icon title="保存对话" icon="icon-save" [operable]="true"
            (click)="saveChats(i)">
          </d-icon>
        </div>
        <div *ngIf="i===savedIndex" class="save">
          <d-icon title="已保存" icon="icon-save" [operable]="true" [color]="'#5e7ce0'"
            (click)="saveChats(i)">
          </d-icon>
        </div>
      </div>
    </ng-container>
    <!-- Loading Block -->
    <div *ngIf="genStart" class="chat-item bot loading">
      <d-icon [icon]="'icon-loading'" [rotate]="'infinite'">
        <span iconSuffix>加载中</span>
      </d-icon>
    </div>
    <!-- Error Block -->
    <div *ngIf="haveError" class="chat-item bot error">
      <d-icon [icon]="'icon-error-o'" [color]="'rgb(249, 95, 91)'"></d-icon>
      <div>{{errMessage}}</div>
    </div>
  </div>

  <!-- Footer -->
  <div class="chat-footer">
    <div class="footer-bar">
      <d-button class="large-btn" bsSize='lg' (btnClick)="clear()" icon="icon-delete"
        bsStyle="primary" title="重置"></d-button>
      <textarea #textarea class="chat-textarea" name="chat" [(ngModel)]="chatInput"
        dTextarea (input)="setTextareaHeight()" (keydown)="preventEnter($event)"
        (keyup)="enter($event)" [disabled]="!haveApiKey"></textarea>
      <d-button class="large-btn main" (btnClick)="startChat()"
        [icon]="genPendding?'icon-loading devui-icon-spin':'icon-publish'" title="发送"
        [disabled]="!haveApiKey"></d-button>
    </div>
  </div>
  <div #placeholder class="footer-placeholder"></div>

</div>

<div class="login" *ngIf="!haveApiKey">
  <div class="input-bar">
    <input dTextInput #keyInput placeholder="输入ApiKey" type="password">
    <a dTooltip [content]="'获取ApiKey'" target="_blank" class="model-help"
      href="https://platform.openai.com/account/api-keys/">
      <i class="icon icon-helping"></i></a>
  </div>
  <d-button bsSize="lg" [bordered]="true"
    (btnClick)="setApiKey(keyInput.value)">确定</d-button>
</div>

<d-button *ngIf="genPendding" class="gen-controller" [bordered]="true" bsSize='lg'
  icon="icon-stop" title="停止" (btnClick)="stop()">停止</d-button>

<d-button *ngIf="!genPendding && messages.length!==0" class="gen-controller"
  bsSize='lg' [bordered]="true" icon="icon-refresh"
  (btnClick)="reGenerate()">重新生成</d-button>

<ng-template #githubIcon>
  <svg t="1678599532784" class="icon" viewBox="0 0 1024 1024" version="1.1"
    xmlns="http://www.w3.org/2000/svg" p-id="2893" width="16" height="16">
    <path
      d="M512 12.64c-282.752 0-512 229.216-512 512 0 226.208 146.72 418.144 350.144 485.824 25.6 4.736 35.008-11.104 35.008-24.64 0-12.192-0.48-52.544-0.704-95.328-142.464 30.976-172.512-60.416-172.512-60.416-23.296-59.168-56.832-74.912-56.832-74.912-46.464-31.776 3.52-31.136 3.52-31.136 51.392 3.616 78.464 52.768 78.464 52.768 45.664 78.272 119.776 55.648 148.992 42.56 4.576-33.088 17.856-55.68 32.512-68.48-113.728-12.928-233.28-56.864-233.28-253.024 0-55.904 20-101.568 52.768-137.44-5.312-12.896-22.848-64.96 4.96-135.488 0 0 43.008-13.76 140.832 52.48a491.296 491.296 0 0 1 128.16-17.248c43.488 0.192 87.328 5.888 128.256 17.248 97.728-66.24 140.64-52.48 140.64-52.48 27.872 70.528 10.336 122.592 5.024 135.488 32.832 35.84 52.704 81.536 52.704 137.44 0 196.64-119.776 239.936-233.792 252.64 18.368 15.904 34.72 47.04 34.72 94.816 0 68.512-0.608 123.648-0.608 140.512 0 13.632 9.216 29.6 35.168 24.576C877.472 942.624 1024 750.784 1024 524.64c0-282.784-229.248-512-512-512z"
      p-id="2894" fill="#ffffff"></path>
  </svg>
</ng-template>