@import 'ng-devui/styles-var/devui-var.scss';

.chat-list {
    box-shadow: $devui-shadow-length-base $devui-light-shadow;
}

.header {
    font-size: 18px;
    color: white;
    border-bottom: 2px solid $devui-line;
    box-shadow: none;
    padding: 18px 36px;
    background-color: $devui-feedback-overlay-bg;
}

.chat-item {
    font-size: 16px;
    border-bottom: 1px solid $devui-line;
    padding: 12px 18px;

    &.bot {
        background-color: $devui-list-item-strip-bg;
    }

    &.loading {
        padding: {
            top: 20px;
            bottom: 20px;
            left: 36px;
        }
    }

    &.error {
        padding: 20px 36px;

        div {
            background-color: $devui-danger-bg;
            padding: 10px;
            border: 1px solid $devui-danger-line;
            border-radius: $devui-border-radius-card;
        }
    }

    .saved {
        margin-top: 8px;
        text-align: right;
    }
}