@import 'ng-devui/styles-var/devui-var.scss';

.chat-list {
    box-shadow: $devui-shadow-length-base $devui-light-shadow;
    // border: 1px solid $devui-line;
}

.chat-item {
    font-size: 16px;
    border-bottom: 1px solid $devui-line;
    padding: 10px 18px;

    &.bot {
        background-color: $devui-list-item-strip-bg;
    }

    &.loading {
        padding: {
            top: 20px;
            bottom: 20px;
            left: 36px;
        }
    }

    &.error {
        padding: 20px 36px;

        div {
            background-color: $devui-danger-bg;
            padding: 10px;
            border: 1px solid $devui-danger-line;
            border-radius: $devui-border-radius-card;
        }
    }
}