.input-bar {
    position: fixed;
    left: 50%;
    bottom: 0px;
    transform: translate(-50%, 0);
    width: 100%;
    padding-bottom: 40px;
    padding-top: 40px;
    background-color: white;

    input {
        width: 30%;
        height: 32px;
    }

    d-button {
        margin-left: 5px;
        margin-right: 5px;
    }
}