<div class="input-wrapper">
  <div class="input-bar">
    <d-button class="large-btn" bsSize='lg' (btnClick)="clear()" icon="icon-delete"
      bsStyle="primary" title="重置"></d-button>
    <textarea class="chat-input" name="chat" [(ngModel)]="chatInput" dTextarea
      (input)="textInput()" (keydown)="preventEnter($event)"
      (keyup)="enter($event)"></textarea>

    <d-button class="large-btn send" (btnClick)="chat()"
      [icon]="chatService.generating?'icon-loading devui-icon-spin':'icon-publish'"
      title="发送"></d-button>

    <d-button class="large-btn" bsStyle="common" icon="icon-save" title="保存对话"
      (btnClick)="saveClick$.next()"></d-button>

    <d-button class="large-btn" bsStyle="common" icon="icon-search-replace"
      title="读取对话" (btnClick)="showChats()"></d-button>
    <d-button class="large-btn separate" bsStyle="common" icon="icon-go-module"
      title="切换配置" (btnClick)="showOptions()"></d-button>

    <d-button class="large-btn" bsStyle="common" icon="icon-setting"
      [routerLink]="'./setting'" title="设置"></d-button>
  </div>
</div>