<div class="setting-layout">
  <div class="setting-content">

    <div class="setting-header">
      <div class="title">设置</div>
      <d-icon-group>
        <d-icon title="返回" [color]="'white'" icon="icon-go-back"
          [routerLink]="['/']"></d-icon>
        <d-icon title="保存" [color]="'white'" icon="icon-save"
          (click)="save()"></d-icon>
        <d-icon title="恢复默认配置" [color]="'white'" icon="icon-rollback"
          (click)="setDefault()"></d-icon>
        <d-icon title="复制请求体" [color]="'white'" icon="icon-copy"
          (click)="copyBody()"></d-icon>
      </d-icon-group>
    </div>

    <form [layout]="formLayout" class="setting-form" dForm>
      <div class="setting-title">通用</div>

      <d-row [dGutter]="48" [dSpace]="12">
        <d-col [dSpan]="{ss:24,ms:5,mm:3}">
          ApiKey
        </d-col>
        <d-col [dSpan]="{ss:24,ms:19,mm:18}">
          <input style="margin-bottom: 24px;" name="chat-apikey" dTextInput
            [(ngModel)]="option.apikey.value" (ngModelChange)="submit(option)"
            placeholder="Your OpenAI ApiKey" type="password">
        </d-col>
      </d-row>

      <d-row [dGutter]="48" [dSpace]="12">
        <d-col [dSpan]="{ss:24,ms:5,mm:3}">
          ApiUrl
        </d-col>
        <d-col [dSpan]="{ss:24,ms:19,mm:18}">
          <input style="margin-bottom: 24px;" name="chat-apiurl" dTextInput
            [(ngModel)]="option.apiurl.value" (ngModelChange)="submit(option)">
        </d-col>
      </d-row>

      <d-row [dGutter]="48" [dSpace]="12">
        <d-col [dSpan]="{ss:24,ms:5,mm:3}">
          最近对话 <i class="icon icon-helping model-help" dTooltip
            [content]="'记住最近的几组对话，-1为所有对话'"></i>
        </d-col>
        <d-col [dSpan]="{ss:8,ms:4,mm:2}">
          <d-toggle name="use-memory" [(ngModel)]="option.memory.use"
            (ngModelChange)="submit(option)"></d-toggle>
        </d-col>
        <d-col *ngIf="option.memory.use" [dSpan]="{ss:8,ms:6,mm:2}">
          <d-input-number name="chat-memory" [(ngModel)]="option.memory.value"
            (ngModelChange)="submit(option)" [min]="-1" [max]="1024" [step]="1"
            [decimalLimit]="0"></d-input-number>
        </d-col>
      </d-row>

      <div class="setting-title">模型参数
        <a dTooltip [content]="'Learn more'" class="model-help" target="_blank"
          href="https://platform.openai.com/docs/api-reference/chat/create">
          <i class="icon icon-helping"></i></a>
      </div>
      <d-row [dGutter]="48">
        <d-col [dSpan]="{ss:24,mm:10}">
          <d-form-item>
            <div class="toggle-label">
              <d-form-label>system <a dTooltip
                  [content]="'The behavior of the assistant'" class="model-help"
                  target="_blank"
                  href="https://platform.openai.com/docs/guides/chat/introduction">
                  <i class="icon icon-helping"></i></a></d-form-label>
              <d-toggle name="use-system" [(ngModel)]="option.system.use"
                (ngModelChange)="submit(option)"></d-toggle>
            </div>
            <d-form-control>
              <textarea dTextarea name="chat-system" style="height: 514px;"
                [(ngModel)]="option.system.value" (ngModelChange)="submit(option)"
                [placeholder]="systemPlaceholder"></textarea>
            </d-form-control>
          </d-form-item>
        </d-col>

        <d-col [dSpan]="{ss:24,mm:6}">
          <d-form-item>
            <d-form-label>model</d-form-label>
            <d-form-control>
              <d-select name="chat-model" [(ngModel)]="option.apiOptions.model.value"
                [options]="['gpt-3.5-turbo','gpt-3.5-turbo-0301']"
                (ngModelChange)="submit(option)"></d-select>
            </d-form-control>
          </d-form-item>
          <d-form-item>
            <div class="toggle-label">
              <d-form-label>temperature</d-form-label>
              <d-toggle name="use-temp"
                [(ngModel)]="option.apiOptions['temperature'].use"
                (change)="temperatureChange($event,'temperature')"
                (ngModelChange)="submit(option)"></d-toggle>
            </div>
            <d-form-control>
              <d-input-number name="chat-temp"
                [(ngModel)]="option.apiOptions.temperature.value" [min]="0" [max]="2"
                [step]="0.1" (ngModelChange)="submit(option)"></d-input-number>
            </d-form-control>
          </d-form-item>
          <d-form-item>
            <div class="toggle-label">
              <d-form-label>top_p</d-form-label>
              <d-toggle name="use-top_p" [(ngModel)]="option.apiOptions['top_p'].use"
                (change)="temperatureChange($event,'top_p')"
                (ngModelChange)="submit(option)"></d-toggle>
            </div>
            <d-form-control>
              <d-input-number name="chat-top_p" [min]="0" [max]="1" [step]="0.1"
                [(ngModel)]="option.apiOptions.top_p.value"
                (ngModelChange)="submit(option)"></d-input-number>
            </d-form-control>
          </d-form-item>
          <d-form-item>
            <div class="toggle-label">
              <d-form-label>max_tokens</d-form-label>
              <d-toggle name="use-tokens"
                [(ngModel)]="option.apiOptions['max_tokens'].use"
                (ngModelChange)="submit(option)"></d-toggle>
            </div>
            <d-form-control>
              <d-input-number name="chat-tokens"
                [(ngModel)]="option.apiOptions.max_tokens.value" [min]="0"
                [decimalLimit]="0" (ngModelChange)="submit(option)"></d-input-number>
            </d-form-control>
          </d-form-item>
          <d-form-item>
            <div class="toggle-label">
              <d-form-label>presence_penalty</d-form-label>
              <d-toggle name="use-presence"
                [(ngModel)]="option.apiOptions['presence_penalty'].use"
                (ngModelChange)="submit(option)"></d-toggle>
            </div>
            <d-form-control>
              <d-input-number name="chat-presence"
                [(ngModel)]="option.apiOptions.presence_penalty.value" [min]="-2"
                [max]="2" [step]="0.1"
                (ngModelChange)="submit(option)"></d-input-number>
            </d-form-control>
          </d-form-item>
          <d-form-item>
            <div class="toggle-label">
              <d-form-label>frequency_penalty</d-form-label>
              <d-toggle name="use-freq"
                [(ngModel)]="option.apiOptions['frequency_penalty'].use"
                (ngModelChange)="submit(option)"></d-toggle>
            </div>
            <d-form-control>
              <d-input-number name="chat-freq"
                [(ngModel)]="option.apiOptions.frequency_penalty.value" [min]="-2"
                [max]="2" [step]="0.1"
                (ngModelChange)="submit(option)"></d-input-number>
            </d-form-control>
          </d-form-item>
          <d-form-item>
            <div class="toggle-label">
              <d-form-label>n</d-form-label>
              <d-toggle name="use-n" [(ngModel)]="option.apiOptions['n'].use"
                (ngModelChange)="submit(option)"></d-toggle>
            </div>
            <d-form-control>
              <d-input-number name="chat-n" [(ngModel)]="option.apiOptions.n.value"
                [min]="0" [decimalLimit]="0"
                (ngModelChange)="submit(option)"></d-input-number>
            </d-form-control>
          </d-form-item>
        </d-col>

        <d-col [dSpan]="{ss:24,mm:8}">
          <d-form-item>
            <div class="toggle-label">
              <d-form-label>logit_bias <a dTooltip [content]="'Get TokenIDs'"
                  class="model-help" target="_blank"
                  href="https://platform.openai.com/tokenizer">
                  <i class="icon icon-helping"></i></a></d-form-label>
              <d-toggle name="use-bias"
                [(ngModel)]="option.apiOptions.logit_bias.use"
                (ngModelChange)="submit(option)"></d-toggle>
            </div>
            <d-form-control>
              <textarea dTextarea style="height: 231px;" name="chat-bias"
                [(ngModel)]="option.apiOptions.logit_bias.value"
                (ngModelChange)="submit(option)"
                [placeholder]="biasPlaceholder"></textarea>
            </d-form-control>
          </d-form-item>

          <d-form-item>
            <div class="toggle-label">
              <d-form-label>stop</d-form-label>
              <d-toggle name="use-stop" [(ngModel)]="option.apiOptions['stop'].use"
                (ngModelChange)="submit(option)"></d-toggle>
            </div>
            <d-form-control>
              <!-- <textarea dTextarea style="height: 231px;" name="chat-stop"
                [(ngModel)]="option.apiOptions.stop.value"
                (ngModelChange)="submit(option)"
                [placeholder]="stopPlaceholder"></textarea> -->
              <d-tags-input name="chat-stop" [tags]="stopTags" [(ngModel)]="stopTags"
                placeholder="添加一个参数" [maxTags]="4" [minLength]="1"
                [showSuggestion]="false"
                (ngModelChange)="stopTagsChange($event)"></d-tags-input>
            </d-form-control>
          </d-form-item>
        </d-col>
      </d-row>
    </form>
  </div>
</div>

<ng-template #saveDialog>
  <div style="margin-bottom: 7px;font-size: 14px;">输入配置名称</div>
  <input #saveInput dTextInput>
</ng-template>