<div class="drawer-menu">
  <div class="drawer-header">
    <div>{{header}}</div>
    <d-icon icon="icon-delete" i18n-title="delete icon title" title="清空"
      [color]="'white'" (click)="clear()">
    </d-icon>
  </div>
  <ul class="list-group" [style.margin-top.px]="20">
    <li (click)="selectItem(i)" class="list-group-item"
      *ngFor="let item of items; let i = index">
      <div class="item-title" [title]="item.title">{{
        item.title }}</div>
      <div class="item-icon">
        <d-icon icon="icon-delete" [operable]="true"
          (click)="deleteItem($event,i)"></d-icon>
      </div>
    </li>
  </ul>
  <div class="operation-area">
  </div>
</div>