/* You can add global styles to this file, and also import other style files */
@import 'ng-devui/styles-var/devui-var.scss';

body {
    background-color: $devui-global-bg;
}

.large-btn {

    height: 50px;
    width: 50px;

    button {
        height: 100% !important;
        width: 100% !important;

        span {
            font-size: 20px !important;
        }
    }
}

.markdown-clipboard-button {
    background-color: $devui-brand-foil;
    padding: 6px 16px;
    border-radius: $devui-border-radius;
}